@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #dfdce3;
  background-color: #4abdac;
  background: linear-gradient(to top, #4abdac 0%, #dfdce3 100%);
  font-family: "Lato", sans-serif;
}
